:root {
    --font-family-text:
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        "PingFang SC",
        "Microsoft YaHei",
        "Source Han Sans SC",
        "Noto Sans CJK SC",
        "WenQuanYi Micro Hei",
        "MiSans L3",
        "Segoe UI",
        sans-serif;

    --font-family-code:
        Menlo,
        Monaco,
        Consolas,
        "Andale Mono",
        "lucida console",
        "Courier New",
        monospace;
}

*,
::after,
::before {
    font-family: inherit;
    font-variant-ligatures: none;
    /* 苹果设备抗锯齿，更顺滑 */
    -webkit-font-smoothing: antialiased;
    /* 火狐抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
    /* 优化字符间距和连字 */
    text-rendering: optimizeLegibility;
}

body {
    font-family: var(--font-family-text);
}

pre,
code,
.code-block-box {
    font-family: var(--font-family-code);
}